<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electorry</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="website icon" tipe="png" href="Images/logo.png">
    <link rel="stylesheet" href="stile.css">
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="Index.html"><img id="navlogo" src="Images/logo_completo-removebg-preview.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="Index.html">Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Instalaciones.html">Instalaciones</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Extra
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Personal</a></li>
                  <li><a class="dropdown-item" href="Developer.html">Developers</a></li>
                  <li><a class="dropdown-item" href="contacto.html">Contacto</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>


    <h1 id="textprin"> Algunos de nuestros Oficios  </h1>
  



      <div id="group" class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://scontent-scl2-1.xx.fbcdn.net/v/t31.18172-8/11540868_827409280712668_6241838901071867170_o.jpg?_nc_cat=104&ccb=1-7&_nc_sid=13d280&_nc_ohc=31tGldWwvAsQ7kNvgHdPXD5&_nc_ht=scontent-scl2-1.xx&oh=00_AYBbHSMTs3-Kcx68atcaFiqcNCTKFbD-xX-k_fwV4AtbMg&oe=66DFB43B" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mantención</h5>
              <p class="card-text">Mantención a tablero eléctrico del panel solar.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Pida su presupuesto al  +569 6355 4775</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://scontent-scl2-1.xx.fbcdn.net/v/t1.18169-9/11014663_714367778683486_1754004468080407924_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=13d280&_nc_ohc=R7OXVlVzUMsQ7kNvgGpRLXv&_nc_ht=scontent-scl2-1.xx&oh=00_AYBw5WNZEcEoGZY7kvpjiZeTNsHfzrCBLEOAMg5hTXrn3Q&oe=66DFB803" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Instalación</h5>
              <p class="card-text">Instalacion de paneles solares.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Pida su presupuesto al  +569 6355 4775</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>