<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electorry</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="website icon" tipe="png" href="Images/logo.png">
    <link rel="stylesheet" href="stile.css">
</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="Index.html"><img id="navlogo" src="Images/logo_completo-removebg-preview.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="Index.html">Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Instalaciones.html">Instalaciones</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Extra
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Personal</a></li>
                  <li><a class="dropdown-item" href="Developer.html">Developers</a></li>
                  <li><a class="dropdown-item" href="contacto.html">Contacto</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>

    <h1 id="textprin">Productos</h1>


    <div id="group" class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Fixed_Tilt_Solar_panel_at_Canterbury_Municipal_Building_Canterbury_New_Hampshire.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Paneles Solares</h5>
            <p class="card-text">Paneles solares fotovoltaicos</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-dark">Añadir al Carro</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://cdnx.jumpseller.com/ferreteria-sur/image/5571666/90.jpeg.jpeg?1557619197" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Materiales de Construccion</h5>
            <p class="card-text">Diversos materiales de construcción</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-dark">Añadir al Carro</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://www.electrotorres.com/mpw_file/images/t_categorias_domestico_6f96eb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Materiales de instalaciondes Electricas</h5>
            <p class="card-text">Diversos Materiales para instalaciones electricas domiciliarias</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-dark">Añadir al Carro</button>
          </div>
        </div>
      </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>